<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.yuez.alfred.workflows.youdao</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>80C8C874-0536-4C44-88EF-8E076DB5EE9D</key>
		<array/>
		<key>FD3DCA04-18A8-41AB-8F1D-72040316DCE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80C8C874-0536-4C44-88EF-8E076DB5EE9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7A140E09-3673-452D-8B5B-01DD563C2CB0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>647E711F-224F-44D8-B0B6-68E7575C9126</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yuez</string>
	<key>description</key>
	<string>The YouDao dictionary for alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouDao</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>80C8C874-0536-4C44-88EF-8E076DB5EE9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>查询中，请稍等……</string>
				<key>script</key>
				<string>query=$@

./alfred-youdao $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>查看"{query}"的解释或者翻译</string>
				<key>title</key>
				<string>有道词典</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD3DCA04-18A8-41AB-8F1D-72040316DCE4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7A140E09-3673-452D-8B5B-01DD563C2CB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>yd </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FBBD5895-E49A-49B9-B239-06D0C3B6AE2D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./say.sh $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>647E711F-224F-44D8-B0B6-68E7575C9126</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Yuez</string>
	<key>uidata</key>
	<dict>
		<key>647E711F-224F-44D8-B0B6-68E7575C9126</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>7A140E09-3673-452D-8B5B-01DD563C2CB0</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>80C8C874-0536-4C44-88EF-8E076DB5EE9D</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>FBBD5895-E49A-49B9-B239-06D0C3B6AE2D</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>FD3DCA04-18A8-41AB-8F1D-72040316DCE4</key>
		<dict>
			<key>note</key>
			<string>v1.5.1</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://yuez.me</string>
</dict>
</plist>
