<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>D43301DE-6A1E-4251-B678-CD3BAB0063AC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>book</string>
			<key>text</key>
			<string>douban</string>
			<key>url</key>
			<string>https://book.douban.com/subject_search?search_text={query}&amp;cat=1001</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
